- if current_user
  .controls
    .dropdown.project-settings-dropdown
      %a.dropdown-new.btn.btn-default#project-settings-button{href: '#', 'data-toggle' => 'dropdown'}
        = icon('cog')
        = icon('caret-down')
      %ul.dropdown-menu.dropdown-menu-align-right
        - can_edit = can?(current_user, :admin_project, @project)
        -# We don't use @project.team.find_member because it searches for group members too...
        - member = @project.members.find_by(user_id: current_user.id)
        - can_leave = member && can?(current_user, :destroy_project_member, member)

        = render 'layouts/nav/project_settings', can_edit: can_edit

        - if can_edit || can_leave
          %li.divider
          - if can_edit
            %li
              = link_to edit_project_path(@project) do
                编辑项目
          - if can_leave
            %li
              = link_to polymorphic_path([:leave, @project, :members]),
                data: { confirm: leave_confirmation_message(@project) }, method: :delete, title: '离开项目' do
                离开项目

.scrolling-tabs-container{ class: nav_control_class }
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(path: 'projects#show', html_options: {class: 'home'}) do
      = link_to project_path(@project), title: '项目', class: 'shortcuts-project' do
        %span
          项目

    = nav_link(path: 'projects#activity') do
      = link_to activity_project_path(@project), title: '活动', class: 'shortcuts-project-activity' do
        %span
          活动

    - if project_nav_tab? :files
      = nav_link(controller: %w(tree blob blame edit_tree new_tree find_file commit commits compare repositories tags branches releases network)) do
        = link_to project_files_path(@project), title: '版本库',  class: 'shortcuts-tree' do
          %span
            版本库

    - if project_nav_tab? :pipelines
      = nav_link(controller: [:pipelines, :builds, :environments, :cycle_analytics]) do
        = link_to project_pipelines_path(@project), title: '流水线', class: 'shortcuts-pipelines' do
          %span
            流水线

    - if project_nav_tab? :container_registry
      = nav_link(controller: %w(container_registry)) do
        = link_to project_container_registry_path(@project), title: '容器注册表', class: 'shortcuts-container-registry' do
          %span
            注册表

    - if project_nav_tab? :graphs
      = nav_link(controller: %w(graphs)) do
        = link_to namespace_project_graph_path(@project.namespace, @project, current_ref), title: '图表',  class: 'shortcuts-graphs' do
          %span
            图表

    - if project_nav_tab? :issues
      = nav_link(controller: [:issues, :labels, :milestones, :boards]) do
        = link_to namespace_project_issues_path(@project.namespace, @project), title: '问题', class: 'shortcuts-issues' do
          %span
            问题
            - if @project.default_issues_tracker?
              %span.badge.count.issue_counter= number_with_delimiter(IssuesFinder.new(current_user, project_id: @project.id).execute.opened.count)

    - if project_nav_tab? :merge_requests
      = nav_link(controller: :merge_requests) do
        = link_to namespace_project_merge_requests_path(@project.namespace, @project), title: '合并请求', class: 'shortcuts-merge_requests' do
          %span
            合并请求
            %span.badge.count.merge_counter= number_with_delimiter(@project.merge_requests.opened.count)

    - if project_nav_tab? :wiki
      = nav_link(controller: :wikis) do
        = link_to get_project_wiki_path(@project), title: '维基', class: 'shortcuts-wiki' do
          %span
            维基

    - if project_nav_tab? :snippets
      = nav_link(controller: :snippets) do
        = link_to namespace_project_snippets_path(@project.namespace, @project), title: '代码片段', class: 'shortcuts-snippets' do
          %span
            代码片段

    -# Global shortcut to network page for compatibility
    - if project_nav_tab? :network
      %li.hidden
        = link_to namespace_project_network_path(@project.namespace, @project, current_ref), title: '网络', class: 'shortcuts-network' do
          网络

    -# Shortcut to create a new issue
    %li.hidden
      = link_to new_namespace_project_issue_path(@project.namespace, @project), class: 'shortcuts-new-issue' do
        创建新的问题

    -# Shortcut to builds page
    - if project_nav_tab? :builds
      %li.hidden
        = link_to project_builds_path(@project), title: '构建', class: 'shortcuts-builds' do
          构建

    -# Shortcut to commits page
    - if project_nav_tab? :commits
      %li.hidden
        = link_to project_commits_path(@project), title: '提交', class: 'shortcuts-commits' do
          提交

    -# Shortcut to issue boards
    %li.hidden
      = link_to '问题看板', namespace_project_boards_path(@project.namespace, @project), title: '问题看板', class: 'shortcuts-issue-boards'
